body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 50px;
    background: #007BFF;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: white;
    color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
